<%=render "shared/metable", :resource=>@brand%>

<section id="about-us">
        <div class="container">
        <%=render "store/shared/brand_position"%>
		<%=render "new_body"%>
		<%=render "old_brand_content"%>
	</div>
	</div>
</section>


