<%=render "shared/metable", :resource=>@cat%>


<section id="products" class="pricing">
    <div class="container">
        <div class="box">
             <div class="center">
                <h2>产品中心</h2>
            </div>
        </div>
			<%=render "store/shared/cat_position"%>		
			<%=render "store/goods/list_goods"%>
		
 </div>
</section><!--/#products-->